/*
  This CSS file defines styles for the application, including font imports, scrollbar styles,
  and form styles for login and registration.
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/*  
  - Sets the height and width of the HTML, body, and #root elements to 100%.
  - Applies the Inter font family as the default font for the entire application.
  - Sets the background color of the entire application to #1f2026.
 */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1f2026;
}

/* 
  - Defines styles for the custom scrollbar appearance using webkit-specific pseudo-elements.
  - Tracks, thumbs, and hover effects are styled to match the application's color scheme.

 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  background: #48494e;
}

::-webkit-scrollbar-track:hover {
  background: #2a2b2f;
}

/* 
  - Styles for the login form container, input fields, and button.
  - The form is displayed as a flex container with column direction and 1rem gap between elements.
  - Input fields have padding, border, and border-radius applied.
  - The login button has padding, border-radius, background color, and text color.
  - Hover styles are applied to the login button to change the background color on hover.

*/
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  /* Center the form horizontally */
  width: 300px;
  /* Set a fixed width for the form */
}

.login-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* styles for the register form */

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  /* Center the form horizontally */
  width: 300px;
  /* Set a fixed width for the form */
}

.register-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.register-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}